@import "../helpers/var";

.projects {
  width: 100vw;
  background-color: $base-color;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 2rem;
    font-family: $script;
    font-size: 3rem;
  }
}

.project {
  &__card {
    //margin-top: 3em;
  }

  &__card:nth-child(2n){
    align-self: end;
    & .project__link {
      display: flex;
      flex-direction: column;
      align-items: self-end;
    }

  }
  &__card:nth-child(2n +1){
    align-self: start;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 300;
  }

  &__link:hover {
    color : white;
  }

  &__thumbnail{
    width: 200px;
    height: auto;
  }
}

@media screen and (max-width: 1023px) {
  .project {
    &__card{

    }
  }
}

@media screen and (min-width: 1024px) {
  .projects {
    &__title {
      font-size: 6rem;
    }

    &__container {
      width: calc(100vw - (2rem*2));
      display: flex;
      justify-content: space-between;
      padding: 2rem;
    }
  }

  .project {
    &__thumbnail{
      width: 350px;
      height: auto;
    }
    &__container {
      display : flex;
    }
  }
}