@import "../helpers/var";

.page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 2rem;

  .title{
    margin-top: 2rem;
    font-family : $script;
    font-size: 3rem;
  }

  .success {
    border: green;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    color: green;
    font-size: 1.25rem;
  }

  .error {
    border: red;
    margin-top: 2.5rem;
    color: red;
    font-size: 1.25rem;
  }

  input, textarea, select {
    font-family: $sans-serif;
  }

}

@media screen and (max-width: 1023px) {
  .page__form {
    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 12rem;
      width: 100%;
      max-width: 36rem;

      &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: 12rem;
        max-width: 36rem;
      }

      .field {
        width: 100%;
        margin-top: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__label {
          align-self: start;
        }

        &__error{
          margin-top: 0.25rem;
          color : red;
        }

        & input {
          margin-top: 0.5rem;
          border: 2px black solid;
          width: 100%;
          min-width: 12rem;
          max-width: 36rem;
          height: 2rem;
          padding: 0.5rem;
          font-size: 1.25rem;

          & :focus {
            outline: 4px solid blue;
          }
        }
      }

      &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .field {
          width: 100%;
          & input {
            width: 100%;
            min-width: 12rem;
            max-width: 36rem;
          }
        }
      }


      & textarea {
        margin-top: 0.5rem;
        border: 2px black solid;
        width: 100%;
        min-width: 12rem;
        max-width: 36rem;
        height: 12rem;
      }

      &__footer {
        align-self: start;
      }

      &__submit {
        background-color: $base-color;
        margin-top: 1rem;
        padding: 0.5rem;
        border: 2px black solid;
        font-size: 1.25rem;
        font-family: Fresca, sans-serif;
      }
      &__submit:focus-visible {
        outline: 4px solid blue;
      }
    }
  }
}

@media screen and (min-width : 1024px) {
  .page__form {

    .title {
      font-size: 5rem;
    }



    .contact {
      margin-top: 4rem;
      font-size: 1.25rem;

      &__info {
        display: flex;
        flex-direction: column;
        align-items: start;
      }

      .field {
        margin-top: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: start;

        &__error{
          margin-top: 0.25rem;
          color : red;
        }

        & input {
          margin-top: 0.5rem;
          border: 2px black solid;
          width: 36rem;
          height: 2rem;
          padding: 0.5rem;
          font-size: 1.25rem;

          & :focus {
            outline: 4px solid blue;
          }
        }
      }

      &__container {
        display: flex;

        .field {
          margin-top: 0;
          display: flex;
          flex-direction: column;
          align-items: start;

          & input {

            margin-top: 0.5rem;
            border: 2px black solid;
            width: calc(18rem - 0.75rem - 2px) ;
            height: 2rem;
            margin-right: 1.5rem;
          }
        }
      }

      & textarea {
        margin-top: 0.5rem;
        border: 2px black solid;
        width: 36rem;
        height: 12rem;
        padding: 0.5rem;
        font-size: 1.25rem;
      }

      &__submit {
        background-color: $base-color;
        margin-top: 1rem;
        padding: 0.5rem;
        border: 2px black solid;
        font-size: 1.25rem;
        font-family: Fresca, sans-serif;
      }
      &__submit:focus-visible {
        outline: 4px solid blue;
      }
    }
  }
}


